/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/
 
section {
	border: 1px solid #333;
	min-height: 100px;
}

#container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin: 0 5%;
	height: 100vw;
}

/* desktop */
 @media only screen and (min-width: 1200px) {

#container {
		grid-template-rows: repeat(4, 1fr);
	
	}


		
		
	.header { grid-area: 1 / 1 / 2 / 13; }
	.box1 { grid-area: 2 / 1 / 3 / 3; }
	.box2 { grid-area: 2 / 3 / 3 / 11; }
	.box3 { grid-area: 2 / 11 / 3 / 13; }
	.content { grid-area: 3 / 1 / 4 / 10; }
	.sidebar { grid-area: 3 / 10 / 4 / 13; }
	
	
	.footer {
		grid-area: 4 / 1 / 5 / 13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
			
	.footer__section1 {
		margin: 10px; 
		border: 1px solid #333;
		grid-area: 1 / 1 / 2 / 4; 
	}
	.footer__section2 { 
		margin: 10px;
		border: 1px solid #333;
		grid-area: 1 / 4 / 2 / 7; 
	}
	.footer__section3 { 
		margin: 10px;
		border: 1px solid #333;
		grid-area: 1 / 7 / 2 / 10;
	 }
	.footer__section4 {
		margin: 10px;
		border: 1px solid #333; 
		grid-area: 1 / 10 / 2 / 13;
	 }
 }
 /*desktop*/
 @media only screen and (max-width:1199px) {

	#container {
			grid-templete-rows: repeat(4,1fr);
	 }


	.header { grid-area: 1 / 1 / 2 / 13; }
    .box1 { grid-area: 2 / 1 / 3 / 4; }
    .box2 { grid-area: 2 / 4 / 3 / 10; }
    .box3 { grid-area: 2 / 10 / 3 / 13; }
    .content { grid-area: 3 / 1 / 4 / 9; }
    .sidebar { grid-area: 3 / 9 / 4 / 13; }
	
	
	.footer {
		 grid-area: 4 / 1 / 5 / 13; 
		 display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	  }
	  .footer__section1 {
		margin: 10px; 
		border: 1px solid #333;
		grid-area: 1 / 1 / 2 / 4; 
	 }
	.footer__section2 { 
		margin: 10px;
		border: 1px solid #333;
		grid-area: 1 / 4 / 2 / 7; 
	 }
	.footer__section3 { 
		margin: 10px;
		border: 1px solid #333;
		grid-area: 1 / 7 / 2 / 10;
	 }
	.footer__section4 {
		margin: 10px;
		border: 1px solid #333; 
		grid-area: 1 / 10 / 2 / 13;
	 }
	}
		
	 

/* tablet */ 
 @media only screen and (max-width: 959px) {
#container {
		grid-template-rows: repeat(4, 1fr);
	
}
	
.header { grid-area: 1 / 1 / 2 / 13; }
.box1 { grid-area: 2 / 1 / 2 / 5; }
.box2 { grid-area: 2 / 5 / 2 / 9; }
.box3 { grid-area: 2 / 9 / 2 / 13; }
.content { grid-area: 3 / 1 / 3 / 7; }
.sidebar { grid-area: 3 / 7 / 3 / 13; }



.footer {
    grid-area: 4 / 1 / 5 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.footer__section1 {
	margin: 10px; 
	border: 1px solid #333;
	grid-area: 1 / 1 / 2 / 7; 
}
.footer__section2 { 
	margin: 10px;
	border: 1px solid #333;
	grid-area: 1 / 7 / 2 / 13; 
}
.footer__section3 { 
	margin: 10px;
	border: 1px solid #333;
	grid-area: 2 / 1 / 3 / 7;
 }
.footer__section4 {
	margin: 10px;
	border: 1px solid #333; 
	grid-area: 2 / 7 / 3 / 13;
 }
}
 /* mobile*/
 @media only screen and (max-width: 767px) { 
	section {
	
		min-height: 220px;
	}

	#container {
		grid-template-rows: repeat(7, 1fr);
	}
		
	.header { grid-area: 1 / 1 / 2 / 13; }
	.box1 { grid-area: 2 / 1 / 3 / 13; }
	.box2 { grid-area: 3/ 1 / 4 / 13; }
	.box3 { grid-area: 4 / 1 / 5 / 13; }
	.content { grid-area: 5 / 1 / 6 / 13; }
	.sidebar { grid-area: 6 / 1 / 7 / 13; }
	
	
	.footer {
		grid-area: 7 / 1 / 8 / 13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	
	}
	
	.footer__section1 {
		margin: 10px; 
		border: 1px solid #333;
		grid-area: 1 / 1 / 2 / 13; 
	}
	.footer__section2 { 
		margin: 10px;
		border: 1px solid #333;
		grid-area: 2 / 1 / 3 / 13; 
	}
	.footer__section3 { 
		margin: 10px;
		border: 1px solid #333;
		grid-area: 3 / 1 / 4 / 13;
	 }
	.footer__section4 {
		margin: 10px;
		border: 1px solid #333; 
		grid-area: 4 / 1 / 5 / 13;
	 } 
	
 }
 
